<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nl.hgkatwijk.diensten"
        version   = "0.1.0">

  <name>Diensten</name>

  <description>
      Bekijk de diensten van de Hervormde Gemeente Katwijk aan Zee.
  </description>

  <preference name="permissions" value="none"/>
  <preference name="phonegap-version" value="3.0.0" />

  <icon src="icon.png" />

  <access origin="http://diensten.hgkatwijk.nl" />

</widget>
