<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nl.hgkatwijk.kerkapp"
        version   = "0.1.0">

  <name>Kerktijd</name>

  <description>
      Bekijk de kerkdiensten van de Hervormde Gemeente Katwijk aan Zee.
  </description>

  <preference name="permissions" value="none"/>
  <preference name="phonegap-version" value="3.0.0" />

  <icon src="icon.png" />
  <icon src="res/icon/android/icon-48-mdpi.png"    gap:platform="android"    gap:density="mdpi" />
  <icon src="res/icon/android/icon-72-hdpi.png"    gap:platform="android"    gap:density="hdpi" />
  <icon src="res/icon/android/icon-96-xhdpi.png"   gap:platform="android"    gap:density="xhdpi" />
  <icon src="res/icon/android/icon-144-xxhdpi.png" gap:platform="android"    gap:density="xxhdpi" />

  <access origin="http://kerkapp.hgkatwijk.nl" />

</widget>
