<!DOCTYPE html>
<html ng-app="hgkatwijk-kerkapp">
  <head>
    <meta charset="utf-8">

    <title>Kerkdiensten</title>

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <meta name="application-name" content="Kerk">
    <meta name="description" content="Bekijk de kerkdiensten van de Hervormde Gemeente Katwijk aan Zee.">

    <link rel="stylesheet" href="app.css">

    <script src="js/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body role="application" ng-controller="MainCtrl">

    <header role="banner">
      <h1>Kerkdiensten</h1>
      <nav>
        <a href="#upcoming">Deze week</a>
      </nav>
    </header>

    <main>

      <section>
        <div class="day" ng-repeat="day in sermonsByDay">
          <h2>{{day.date}}</h2>

          <div class="daypart morning" ng-repeat="daypart in day.dayparts">
            <h3>{{daypart.daypart}}</h3>

            <article ng-repeat="sermon in daypart.sermons" itemscope itemtype="http://schema.org/Event">
              <div itemprop="location">{{sermon.church}}</div>
              <div itemprop="startDate" content="2013-10-13T10:00">{{sermon.time}}</div>
              <div itemprop="performer">{{sermon.preacher}}</div>
            </article>
          </div>

        </div>
      </section>

    </main>

  </body>
</html>
